body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6600;
    
}

.container {
    display: flex;
    gap: 5px;
    /* Space between bars */
}

.loading-bar {
    width: 10px;
    height: 50px;
    background-color: #fff;
    
    animation: loading 1s infinite;
}

.loading-bar:nth-child(1) {
    animation-delay: 0s;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.4s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.6s;
}

.loading-bar:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes loading {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.5);
    }
 }